@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Karla";
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Manrope';
}

header {
    background-color: #ffc0ff;
    height: 120px;
    display: flex;
    flex-direction: row;
    padding-left: 64px;
    padding-right: 64px;
    align-items: center;
}

header > a:first-of-type {
    margin-left: auto;
    margin-right: 24px;
    font-weight: bold;
}

a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}


main > section:first-of-type > h1,
main > section:first-of-type > p {
    text-align: center;
}

main > section > h1 {
    margin-top: 48px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 8px;
}

main > section:nth-of-type(2) {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    gap: 48px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main > section > section {
    width: 33%;
    height: 192px;
    border-radius: 18px;
    padding: 16px 0px 48px 64px;
}

main > section > section > ul {
    margin-left: -24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

main > section > section > ol {
    margin-left: -24px;
}

main > section > section > ol > li {
    margin-top: 10px;
}

main > section > section:first-of-type {
    background-color: #ffc0ff;
}

main > section > section:last-of-type {
    background-color: #ffc0ff;
}

main > section:nth-of-type(3) {
    margin-left: 128px;
    margin-top: 96px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main > section:nth-of-type(3) > h2 {
    margin-bottom: 8px;
    font-size: 32px;
}

main > section:nth-of-type(3) > p {
    margin-top: 8px;
    grid-column: 1;
    max-width: 720px;
}

main > section:nth-of-type(3) > img {
    margin-left: 128px;
    width: 75%;
}

main > section:nth-of-type(4) {
    margin: 72px 5% 192px 5%;
    background-color: #ffc0ff;
    text-align: center;
    border-radius: 12px;
    padding-top: 36px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section:nth-of-type(4) > h2 {
    font-size: 32px;
    margin-bottom: 8px;
}

main > section:nth-of-type(4) > p {
    max-width: 720px;
    margin-top: 4px;
    text-align: center;
}

video {
    margin-top: 24px;
    height: 36rem;
}

main > section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section:nth-of-type(5) > h2 {
    font-size: 32px;
    margin-bottom: 24px;
}

table {
    border-collapse: collapse;
    margin-bottom: 64px;
}

td {
    padding: 16px 8px;
}

th {
    font-size: 12px;
    color: #A8A29E;
    padding-right: 64px;
    padding-left: 8px;
    margin-bottom: 4px;
    padding-bottom: 16px;
}

tr:not(tr:first-of-type) {
    padding-top: 8px;
    background-color: rgba(255, 192, 255, 0.6);
    border-top: 1px solid #D6D3D1;
}

main > section:nth-of-type(6) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section:nth-of-type(6) > h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 8px;
}

form {
    margin-top: 48px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #A8A29E;
    font-weight: bold;
}

input {
    margin-top: 8px;
    height: 24px;
    width: 256px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #A8A29E;
    font-family: 'Karla';
    margin-bottom: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=number] {
    width: 128px;
}

input[type=radio] {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    width: 24px;
}

input[type=checkbox] {
    margin-bottom: 0;
    margin-top: 0;
    width: 32px;
    border-radius: 50%;
    accent-color: #fc6efc;
}

select {
    width: 100%;
    padding: 10px;
}

button {
    width: 268px;
    background-color: #fc8efc;
    color: white;
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: bold;
    border: 0;
    cursor: pointer;
    border-radius: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 10px 64px;
}

footer {
    background-color: #fc6efc;
    display: grid;
    padding-left: 25%;
    padding-top: 48px;
    height: 128px;
    padding-bottom: 32px;
    grid-template-columns: 256px 192px 192px;
    grid-template-rows: 32px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

footer > a {
    margin-top: 2px;
    font-weight: normal;
}

footer > strong:first-of-type,
footer > a:first-of-type {
    grid-column: 2;
}

footer > strong:last-of-type {
    grid-column: 3;
    grid-row-start: 1;
}